<!-- footer section start -->
        <footer class="d2c_footer_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <img src="{% static 'assets/images/SJ_T_logo.png' %}" class="d2c_footer_logo img-fluid w-100 mb-4" alt="Footer Logo">
                        <p>Professionally scale cross functional human capital and extensive technology.</p>
                        <ul class="d2c_social_link list-group list-group-horizontal">
                            <li><a href="https://www.facebook.com/Designtocodes" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/designtocodes/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://twitter.com/DesignToCodes" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/designtocodes/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg mb-5 mb-lg-0">
                        <h3><span>Quick Link</span></h3>
                        <ul class="list-group">
                            <li class="py-1 py-md-2"><a href="#service">Service</a></li>
                            <li class="py-1 py-md-2"><a href="#team">Team</a></li>
                            <li class="py-1 py-md-2"><a href="#portfolio">Portfolio</a></li>
                            <li class="py-1 py-md-2"><a href="#blog">Our Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg mb-5 mb-md-0">
                        <h3><span>Company</span></h3>
                        <ul class="list-group">
                            <li class="py-1 py-md-2"><a href="#about">About us</a></li>
                            <li class="py-1 py-md-2"><a href="https://www.designtocodes.com/terms/" target="_blank">Terms</a></li>
                            <li class="py-1 py-md-2"><a href="https://www.designtocodes.com/terms/" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <h3><span>Company</span></h3>
                        <ul class="d2c_company_info list-group">
                            <li class="py-1 py-md-2">
                                <a href="tel:+971 5546 963"><i class="fas fa-phone-alt"></i> 971 5546 963</a>
                            </li>
                            <li class="py-1 py-md-2">
                                <a href="mailto:example@gmail.com"><i class="fas fa-envelope"></i> example@gmail.com</a>
                            </li>
                            <li class="py-1 py-md-2">
                                <a href="https://www.google.com/maps/@40.0677545,-76.0434136,8z?entry=ttu" target="_blank">
                                    <i class="fas fa-map-marker-alt"></i> Royal 2464 Mesa, New Jersey
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d2c_copy_wrapper">
                    <h4 class="text-center">© 2023 <a href="#" target="_blank">SJ.Tech Solution</a>. All Right Reserved</h4>
                </div>
            </div>
        </footer>
        <!-- footer section end -->