
{% extends "base.html" %}
{% load static %}

{% block title %}
    index Employee - SJ.Tech
{% endblock %}

{% block content %}

  <div class="d2c_hero_bg">
    <!-- hero start -->
    <section class="d2c_hero_wrapper" id="home">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 pe-5 order-last order-lg-first">
            <h1>
              Smart journey Tach Solution <br />
              <span>SJ.Tech Solution</span>
            </h1>
            <p>
              Explore the latest advancements in technology with SJ.Tech
              Solution. Our responsive Bootstrap landing page is designed to
              keep you updated.
            </p>
            <a href="#about" class="btn">Get Started</a>
          </div>
          <div class="col-lg-6 order-first order-lg-first mb-4 mb-lg-0">
            <div class="d2c_vector_img_wrapper">
              <div class="d2c_shade_bg">
                <img
                  src="./static/assets/images/home-hero-vector-unscreen.gif"
                  class="img-fluid"
                  alt="Hero Image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hero end -->
  </div>

  <!-- about section start -->
  <section class="d2c_about_wrapper" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="d2c_img_container position-relative me-0 me-lg-5">
            <div class="d2c_img_wrapper">
              <img
                src="./static/assets/images/about_one.jpg"
                class="img-fluid w-100 rounded-3"
                alt="About Upper Image"
              />
            </div>
            <div class="d2c_img_wrapper">
              <img
                src="./static/assets/images/about_two.jpg"
                class="img-fluid w-100 rounded-3"
                alt="About Down Image"
              />
            </div>
            <img
              src="./static/assets/images/about_shade.png"
              alt="About Background Image"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="d2c_sub_title position-relative">
            About <span>SJ.Tech Solution</span>
          </h3>
          <h2 class="d2c_title position-relative">
            Empowering YourTech <span>Exploration</span>
          </h2>
          <p class="mb-3">
            At SJ.Tech Solution, we're passionate about all things tech. Our
            platform is designed to provide you with insightful articles, expert
            opinions, and resources to fuel your curiosity and drive your tech
            ambitions forward. Explore the latest advancements in technology
            with SJ.Tech Solution. Our responsive Bootstrap landing page is
            designed to keep you updated on cutting-edge trends and solutions
            that empower your tech journey from the SJ.Tech Solution.
          </p>
          <p class="d2c_last_paragraph">
            Learn more about SJ.Tech Solution and our mission. Get to know our
            passionate team of tech enthusiasts and innovators who are dedicated
            to bringing you the best insights and information from the tech
            industry.
          </p>
          <a href="#contact" class="btn">Stay Connect</a>
        </div>
      </div>
    </div>
  </section>
  <!-- about section end -->

  <!-- partner section start -->
  <div class="d2c_partner_wrapper">
    <div class="container">
      <div class="row d2c_partner_slider">
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_one.png"
              alt="Partner Image One"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_two.png"
              alt="Partner Image Two"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_three.png"
              alt="Partner Image Three"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_four.png"
              alt="Partner Image Four"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_five.png"
              alt="Partner Image Five"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_six.png"
              alt="Partner Image Six"
            />
          </div>
        </div>
        <div class="col">
          <div class="d2c_img_wrapper">
            <img
              src="./static/assets/images/partner_three.png"
              alt="Partner Image Seven"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partner section end -->

  <div class="d2c_shade_bg_wrapper">
    <!-- service section start -->
    <section class="d2c_service_wrapper" id="service">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 mb-4 mb-xl-0">
            <h3 class="d2c_sub_title position-relative">
              Our <span>Services</span>
            </h3>
            <h2 class="d2c_title position-relative">
              We have <span>Everything</span> What you Need...
            </h2>
            <p>
              Discover the range of services we offer at SJ.Tech Solution. From
              tech consulting to software development, we're here to provide you
              with expert solutions that cater to your tech-related needs.
            </p>
            <div class="row">
              <div class="col-md-5">
                <ul>
                  <li>Tech Consulting</li>
                  <li>Product Reviews</li>
                  <li>Tech Teaching</li>
                </ul>
              </div>
              <div class="col-md-7">
                <ul>
                  <li>Tech Trend</li>
                  <li>Coding Workshops</li>
                  <li>Online Bootcamps</li>
                </ul>
              </div>
            </div>
            <a href="{% url 'services_list' %}" class="btn">More</a>
          </div>
          <div class="col-xl-6">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="d2c_card_wrapper">
                  <div class="d2c_icon_wrapper">
                    <i class="fas fa-object-ungroup"></i>
                  </div>
                  <h3>Web Design</h3>
                  <p>
                    I can create minimal & modern web design with lasted web
                    technologies. I can covert any UI.
                  </p>
                </div>
              </div>
              <div class="col-md-6 mt-xl-4 mb-4 mb-lg-0">
                <div class="d2c_card_wrapper">
                  <div class="d2c_icon_wrapper">
                    <i class="fas fa-laptop-code"></i>
                  </div>
                  <h3>Web Development</h3>
                  <p>
                    I worked with React, Node.js AngularJS, and to create as
                    dynamic & interactive web an applications.
                  </p>
                </div>
              </div>
              <div class="col-md-6 mb-4 mb-md-0">
                <div
                  class="d2c_card_wrapper d2c_service_card position-relative"
                >
                  <div class="d2c_icon_wrapper">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                  <h3>SEO specialist</h3>
                  <p>
                    I can research key-word on your website that can create
                    healthy traffic to your website.
                  </p>
                </div>
              </div>
              <div class="col-md-6 mt-xl-4">
                <div class="d2c_card_wrapper">
                  <div class="d2c_icon_wrapper">
                    <i class="fas fa-calendar-check"></i>
                  </div>
                  <h3>Security Expert</h3>
                  <p>
                    Monitor your website, prevent any unusual activities happing
                    on website & create a system your website.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- service section end -->

    <!-- features section start -->
    <section class="d2c_feature_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="d2c_img_container position-relative me-0 me-lg-5">
              <div class="d2c_img_wrapper">
                <img
                  src="./static/assets/images/feature_uppper_img.jpg"
                  class="img-fluid w-100 rounded-3"
                  alt="Features Upper Image"
                />
              </div>
              <div class="d2c_img_wrapper">
                <img
                  src="./static/assets/images/feature_down_img.jpg"
                  class="img-fluid w-100 rounded-3"
                  alt="Features Down Image"
                />
              </div>
              <img
                src="./static/assets/images/feature_bg_img.png"
                alt="Features Background Image"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="d2c_sub_title position-relative">
              Our <span>Features</span>
            </h3>
            <h2 class="d2c_title position-relative">
              Check More About Our <span>Service & Progress</span>
            </h2>
            <p class="mb-3">
              Actual teachings of the great explorer of the truth because it is
              pleasure, but because those who do not know how to you pursue
              pleasure rationally encounter consequences that are extremely
              painful. Nor again is there anyone who loves or pursues or desires
              to obtain.
            </p>
            <p>
              Bring your ideas to life and share your vision with concrete
              elements. will give you a complete account of the system, and
              expound the actual teachings of the great explorer of the truth
              because it is pleasure, but because those who do not know how to
              you pursue pleasure rationally encounter consequences that are
              extremely painful. Nor again is there anyone who loves or pursues
              or desires to obtain pain of itself.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- features section end -->
  </div>

  <div class="d2c_team_bg_wrapper">
    <!-- team section start -->
    <section class="d2c_team_wrapper" id="team">
      <div class="container">
        <h3 class="d2c_sub_title text-start text-md-center position-relative">
          our <span>Team</span>
        </h3>
        <h2 class="d2c_title text-start text-md-center position-relative">
          Meet Our <span>Experts</span>
        </h2>
        <div class="row d2c_team_slider">
          <div class="col">
            <div class="d2c_team_card">
              <div class="d2c_img_wrapper position-relative">
                <img
                  src="./static/assets/images/team_one.jpg"
                  class="rounded-3 w-100 h-100"
                  alt="Team Image One"
                />
              </div>
              <div class="d2c_card_body text-center">
                <h4>Petrick Suiman</h4>
                <p class="mb-0">IT Officer</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d2c_team_card">
              <div class="d2c_img_wrapper position-relative">
                <img
                  src="./static/assets/images/team_two.jpg"
                  class="rounded-3 w-100 h-100"
                  alt="Team Image One"
                />
              </div>
              <div class="d2c_card_body text-center">
                <h4>William Stephen</h4>
                <p class="mb-0">Graphic Designer</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d2c_team_card">
              <div class="d2c_img_wrapper position-relative">
                <img
                  src="./static/assets/images/team_three.jpg"
                  class="rounded-3 w-100 h-100"
                  alt="Team Image One"
                />
              </div>
              <div class="d2c_card_body text-center">
                <h4>Luisting Morgan</h4>
                <p class="mb-0">Web Developer</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d2c_team_card">
              <div class="d2c_img_wrapper position-relative">
                <img
                  src="./static/assets/images/team_two.jpg"
                  class="rounded-3 w-100 h-100"
                  alt="Team Image One"
                />
              </div>
              <div class="d2c_card_body text-center">
                <h4>William Stephen</h4>
                <p class="mb-0">Graphic Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- team section end -->

    <!-- portfolio section start -->
    <section class="d2c_portfolio_wrapper" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-0 offset-lg-3 px-2 px-md-5">
            <h3
              class="d2c_sub_title text-start text-md-center position-relative"
            >
              Our <span>Portfolio</span>
            </h3>
            <h2 class="d2c_title text-start text-md-center position-relative">
              Here is some of Our <span>Design</span> & <span>Project</span>
            </h2>
          </div>
        </div>
        <div class="d2c_grid">
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_one.jpg"
            ></a>
          </div>
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_two.jpg"
            ></a>
          </div>
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_three.jpg"
            ></a>
          </div>
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_four.jpg"
            ></a>
          </div>
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_five.jpg"
            ></a>
          </div>
          <div class="d2c_grid_item" data-wow-duration="2s">
            <a
              data-fancybox="gallery"
              class="fancybox"
              href="./static/assets/images/portfolio_six.jpg"
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- portfolio section end -->
  </div>

  <div class="d2c_blog_bg_wrapper">
    <!-- blog section start -->
    <section class="d2c_blog_wrapper" id="blog">
      <div class="container">
        <h3 class="d2c_sub_title text_start text-md-center position-relative">
          Our <span>Blog</span>
        </h3>
        <h2 class="d2c_title text_start text-md-center position-relative">
          Latest news & <span>articles</span>
        </h2>
        <p class="text_start text-md-center">
          Dive into our comprehensive tech blog, where we share in-depth
          articles, how-to guides, and analysis on the latest tech trends. Stay
          informed and broaden your tech knowledge with our insightful content.
        </p>
        <div class="row">
          <div class="col-lg-6 mb-4 mb-lg-0">
            <div class="d2c_card_wrapper d2c_blog_card">
              <img
                src="./static/assets/images/blog_one.jpg"
                class="img-fluid w-100"
                alt="Blog Image One"
              />
              <div class="d2c_card_body">
                <p class="mb-2">Design, Illustrations, UI/UX</p>
                <h4 class="mb-2">
                  <a href="#"
                    >How to make a website look more attractive with an NFTs
                    Pictures for the design.</a
                  >
                </h4>
                <p class="mb-1">
                  Dive into our comprehensive tech blog, where we share in-depth
                  articles, how-to guides, and analysis on the latest tech
                  trends.
                </p>
                <div class="d2c_date">
                  <span>2, Sept 2023</span>
                  <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d2c_card_wrapper">
              <img
                src="./static/assets/images/blog_two.jpg"
                class="img-fluid w-100"
                alt="Blog Image Two"
              />
              <div class="d2c_card_body">
                <p class="mb-2">Design, Illustrations, UI/UX</p>
                <h4 class="mb-2">
                  <a href="#"
                    >How to make a website secure more then another with advance
                    security threat.</a
                  >
                </h4>
                <p class="mb-1">
                  Explore a curated selection of cutting-edge tech products is
                  one of handpicked by our experts. From gadgets to software.
                </p>
                <div class="d2c_date">
                  <span>9, Aug 2023</span>
                  <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- blog section end -->

    <!-- testimonial section start -->
    <section class="d2c_testimonial_wrapper" id="testimonial">
      <div class="container">
        <h3 class="d2c_sub_title text_start text-md-center position-relative">
          Our <span>Testimonial</span>
        </h3>
        <h2 class="d2c_title text_start text-md-center position-relative">
          here are some client feedback<span></span>
        </h2>
        <div class="row testimonial_slider">
          <div class="col">
            <div class="d2c_card_wrapper text-center">
              <h5>
                Tanahair is the friendliest and most efficient service I have
                ever used. The whole thing takes time to introduce the product
                and, as a result, put forward only the best opportunities that
                really suit you.
              </h5>
              <img
                src="./static/assets/images/testimonial_one.jpg"
                class="img-fluid mb-2"
                alt="Testimonial One"
              />
              <h3 class="mb-2"><span>Darren Dunlap</span></h3>
              <p class="mb-0">CEO & Founder at Flex.co</p>
            </div>
          </div>
          <div class="col">
            <div class="d2c_card_wrapper text-center">
              <h5>
                Tanahair is the friendliest and most efficient service I have
                ever used. The whole thing takes time to introduce the product
                and, as a result, put forward only the best opportunities that
                really suit you.
              </h5>
              <img
                src="./static/assets/images/testimonial_one.jpg"
                class="img-fluid mb-2"
                alt="Testimonial One"
              />
              <h3 class="mb-2"><span>Darren Dunlap</span></h3>
              <p class="mb-0">CEO & Founder at Flex.co</p>
            </div>
          </div>
          <div class="col">
            <div class="d2c_card_wrapper text-center">
              <h5>
                Tanahair is the friendliest and most efficient service I have
                ever used. The whole thing takes time to introduce the product
                and, as a result, put forward only the best opportunities that
                really suit you.
              </h5>
              <img
                src="./static/assets/images/testimonial_one.jpg"
                class="img-fluid mb-2"
                alt="Testimonial One"
              />
              <h3 class="mb-2"><span>Darren Dunlap</span></h3>
              <p class="mb-0">CEO & Founder at Flex.co</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial section end -->
  </div>

  <!-- newsletter section start -->
  <section class="d2c_newsletter_wrapper">
    <div class="container">
      <div class="d2c_card_wrapper">
        <h2 class="d2c_sub_title text_start text-md-center position-relative">
          Be the first to know when <span>we launch</span>
        </h2>
        <p class="text_start text-md-center">
          Stay in the loop with everything you need to know.
        </p>
        <div class="row">
          <div
            class="col-12 col-lg-8 col-xl-6 offset-0 offset-lg-2 offset-xl-3"
          >
            <form class="row needs-validation" novalidate>
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter your email address"
                    aria-describedby="newsletter_btn"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-md-4">
                <button class="btn" type="submit" id="newsletter_btn">
                  get in touch
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- newsletter section end -->

  <!-- contact section start -->
  <section class="d2c_contact_wrapper" id="contact">
    <div class="container">
      <h3 class="d2c_sub_title position-relative">Contact <span>us</span></h3>
      <h2>Have any <span>questions or inquiries?</span></h2>
      <form class="row needs-validation" novalidate>
        <div class="col-md-6">
          <label for="validationCustomFirstName" class="form-label"
            >First <span>Name</span></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustomFirstName"
            autocomplete="off"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustomLastName" class="form-label"
            >Last <span>Name</span></label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustomLastName"
            autocomplete="off"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustomEmail" class="form-label"
            >Email <span>Address</span></label
          >
          <div class="input-group has-validation">
            <input
              type="email"
              class="form-control"
              id="validationCustomEmail"
              autocomplete="on"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustomPhone" class="form-label"
            >Phone <span>Number</span></label
          >
          <div class="input-group has-validation">
            <input
              type="tel"
              class="form-control"
              id="validationCustomPhone"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationCustomMessage" class="form-label"
            >Messages</label
          >
          <textarea
            class="form-control"
            rows="5"
            id="validationCustomMessage"
            required
          ></textarea>
        </div>
        <div class="col-12">
          <button class="btn" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>
  <!-- contact section end -->


{% endblock %}