<h3 class="mb-3" style="color:#ff2c91;">Student Details</h3>

<div class="row g-3">

    <div class="col-md-6">
        <label class="form-label">Full Name *</label>
        <input type="text" name="student_name" class="form-control bg-secondary text-white" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Phone *</label>
        <input type="text" name="student_phone" class="form-control bg-secondary text-white" maxlength="10" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Email *</label>
        <input type="email" name="student_email" class="form-control bg-secondary text-white" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Course *</label>
        <input type="text" name="course" class="form-control bg-secondary text-white" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Date of Birth *</label>
        <input type="date" name="student_dob" class="form-control bg-secondary text-white" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Photo</label>
        <input type="file" name="student_photo" class="form-control bg-secondary text-white" accept="image/*">
    </div>

</div>
