
{% extends "base.html" %}
{% load static %}

{% block title %}
    Contact SG.Automix Tech
{% endblock %}
{% block meta_description %}Contact SG.Automix Tech to automate your business, reduce manual work, discuss software development, certified technology courses, project support, and technology queries.{% endblock %}
{% block meta_keywords %}contact SG Automix Tech, automate business contact, reduce manual work, automation service contact, software development enquiry, tech courses contact, business automation support{% endblock %}
{% block og_title %}Contact SG.Automix Tech{% endblock %}
{% block og_description %}Get in touch with SG.Automix Tech to automate your business, reduce manual work, and discuss services, courses, or projects.{% endblock %}

{% block content %}

{% include "partials/contact_form.html" %}

{% endblock %}
