
{% extends "base.html" %}
{% load static %}

{% block title %}
    Contact SG.Automix Tech
{% endblock %}
{% block meta_description %}Contact SG.Automix Tech for automation services, software development, certified technology courses, project support, and business technology queries.{% endblock %}
{% block meta_keywords %}contact SG Automix Tech, automation service contact, software development enquiry, tech courses contact, business automation support{% endblock %}
{% block og_title %}Contact SG.Automix Tech{% endblock %}
{% block og_description %}Get in touch with SG.Automix Tech for services, courses, and project enquiries.{% endblock %}

{% block content %}

{% include "partials/contact_form.html" %}

{% endblock %}
